<html>
    <head>
        <title>Address Book</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1 class="text-center">My Address Book</h1>

                        <div class="text-center">
                            <a class="btn btn-default" href="/"
                            role="button">Show All Contacts</a>
                            <a class="btn btn-default" href="/delete_contacts"
                            role="button">Delete All Contacts</a>
                        </div>
                        <hr>

                        <h3>XXXX.</h3>

                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </body>

</html>
